// Бургер
.burger {
    position: relative;
    width: 40px;
    height: 40px;
    transition: $tr;

    & span {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 40%;
        height: 2px;
        display: block;
        background: $text-primary;
        transition: $tr;

        &:nth-child(1) {
            transform: translate(-50%, calc(-50% - 5px));
        }

        &:nth-child(2) {
            transform: translate(-50%, -50%);
        }

        &:nth-child(3) {
            transform: translate(-50%, calc(-50% + 5px));
        }
    }

    &.is-active {

        & span {

            &:nth-child(1) {
                transform: translate(-50%, -50%) rotate(45deg);
            }

            &:nth-child(2) {
                width: 0;
            }

            &:nth-child(3) {
                transform: translate(-50%, -50%) rotate(-45deg);
            }
        }
    }
}
//========================================================================================================================================================


// Раздел
.section {
    margin: 220px 0;

	&.is-fill {
		padding: 50px 0;
	}

	&.have-margin-s {
		margin: 80px 0;

		@media (max-width: $mobile-l) {
			margin: 60px 0;
		}
	}

	@media (max-width: $tablet) {
		margin: 150px 0;
	}

    @media (max-width: $mobile-l) {
        margin: 80px 0;
    }
}
//========================================================================================================================================================


// Social list
.socials {
	display: flex;
	align-items: center;
	gap: 20px;
}

.socials__link {
	display: block;
	width: 24px;
	aspect-ratio: 1 / 1;
	opacity: .35;
	transition: $tr;

	&:active {

	}

	@media (any-hover: hover) {

		&:hover {
			opacity: .8;
		}

		&:active {

		}
	}
}

// Шапка раздела
.s-header {
    margin-bottom: 70px;

	@media (max-width: $tablet) {
		margin-bottom: 48px;
	}

    @media (max-width: $mobile-l) {
        margin-bottom: 24px;
    }
}


.s-header {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

.s-header__title {

}

.s-header__text {
	max-width: 600px;
	margin-top: 60px;

	@media (max-width: $tablet) {
		margin-top: 30px;
	}

	@media (max-width: $mobile-l) {
		margin-top: 24px;
	}
}

.title-2 {
	font-family: $ff-second;
	font-size: 48px;
	font-weight: 700;
	line-height: 1.5;
	letter-spacing: .4em;
	text-transform: uppercase;

	@media (max-width: $tablet) {
		font-size: 32px;
	}

	@media (max-width: $mobile-l) {
		font-size: 24px;
	}
}

.text-gray {
	font-size: 16px;
	line-height: 2.9;
	opacity: .36;

	@media (max-width: 900px) {
		line-height: 2.2;
	}

	@media (max-width: $mobile-m) {
		font-size: 14px;
		line-height: 1.6;
	}
}
//========================================================================================================================================================

// Scroll-down
.scroll-down {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 36px;
	cursor: pointer;

	@media (max-width: $hide-menu) {
		gap: 16px;
	}
}

.scroll-down__img {
	width: 32px;
	aspect-ratio: 1 / 1;
}

.scroll-down__text {
	font-family: $ff-second;
	font-size: 10px;
	opacity: .36;
	letter-spacing: .4em;
	writing-mode: vertical-rl;
	transform: rotate(180deg);
}