.about {
	--cover-offset-x: 0px;
	--cover-offset-y: 0px;

	position: relative;
	z-index: 1;
	background-color: $frame-dark;
	margin-top: -1px;
	color: $light;
	// padding-top: 100px;
	padding: 100px 0 200px;

	@media (max-width: 900px) {
		padding-top: 70px;
	}

	@media (max-width: 700px) {
		padding-top: 30px;
	}

	@media (max-width: $mobile-l) {
		padding-bottom: 140px;
	}

	&::before {
		content: '';
		position: absolute;
		z-index: -1;
		bottom: 0;
		left: 50%;
		transform: translate(calc(-50% + var(--cover-offset-x)), calc(50% + var(--cover-offset-y)));
		// width: 150%;
		width: 3000px;
		aspect-ratio: 1/1;
		background: radial-gradient(50% 50% at 50% 50%, rgba(125, 15, 15, 0.8) 23.61%, rgba(13, 15, 17, 0) 100%);
	}
}

.about__container {

}

.about__wrapper {
	display: flex;
	align-items: flex-start;
	justify-content: flex-end;

	@media (max-width: 900px) {
		justify-content: flex-start;
	}
}

.about__img {
	position: absolute;
	z-index: -1;
	left: 50%;
	bottom: 0;
	transform: translate(-57%, 0);
	width: 900px;

	@media (max-width: 1150px) {
		width: 800px;
		transform: translate(-70%, 0);
	}

	@media (max-width: 900px) {
		width: 760px;
		transform: translate(-70%, 20%);
	}

	@media (max-width: 700px) {
		width: 760px;
		transform: translate(-60%, 20%);
	}

	@media (max-width: 550px) {
		width: 600px;
		transform: translate(-65%, 20%);
	}

	@media (max-width: $mobile-l) {
		width: 560px;
		transform: translate(-60%, 20%);
	}

	@media (max-width: $mobile-s) {
		width: 500px;
	}
}

.about__content {
	max-width: 520px;

	@media (max-width: 900px) {
		max-width: none;
		width: 100%;
		display: flex;
		flex-direction: column;
	}
}

.about__header {


	@media (max-width: 900px) {
		max-width: 520px;
	}
}

.about__title {
	font-size: 30px;
	font-weight: 500;
	color: #9B9AA0;
	line-height: 1;

	@media (max-width: 900px) {
		line-height: 1.4;
	}

	@media (max-width: $tablet) {
		font-size: 28px;
	}

	@media (max-width: 550px) {
		font-size: 24px;
	}
}

.about__title-line {
	display: block;
	width: 120px;
	height: 4px;
	background-color: #7E0F0F;
	margin-top: 32px;

	@media (max-width: 900px) {
		margin-top: 24px;
	}
}

.about__text {
	font-size: 14px;
	margin-top: 36px;

	@media (max-width: 900px) {
		margin-top: 24px;
	}
}

.about__body {
	display: flex;
	flex-direction: column;
	gap: 16px;
	margin-top: 100px;
	margin-left: 68px;

	@media (max-width: 900px) {
		margin-left: 0;
		align-items: flex-end;
		margin-top: 70px;
	}

	@media (max-width: 550px) {
		margin-top: 40px;
	}
}

.c-about {
	max-width: 265px;
	width: 100%;
	min-height: 170px;
	height: 100%;
	display: flex;
	background-color: rgba(16, 17, 19, .8);
	padding: 24px 30px 24px 48px;

	@media (max-width: 550px) {
		padding: 16px 24px;
		max-width: 220px;
		min-height: 120px;
	}

	@media (max-width: $mobile-l) {
		max-width: 180px;
	}
}

.c-about__content {
	margin: auto 0;
}

.c-about__num {
	font-family: $ff-second;
	font-size: 36px;
	font-weight: 700;
	line-height: 1;
	letter-spacing: .05em;

	@media (max-width: 550px) {
		font-size: 28px;
	}
}

.c-about__text {
	font-family: $ff-second;
	font-size: 12px;
	line-height: 1.8;
	margin-top: 14px;

	@media (max-width: 550px) {
		margin-top: 10px;
	}
}

// .about__scroll-down {
// 	position: absolute;
// 	bottom: 140px;
// 	left: 6%;

// 	@media (max-width: $container-width) {
// 		bottom: 50px;
// 		left: 3%;
// 	}

// 	@media (max-width: 1100px) {
// 		left: auto;
// 		right: 3%;
// 	}

// 	@media (max-width: 900px) {
// 		display: none;
// 	}
// }