.applic {
	color: $light;
	background-color: $frame-dark;
	padding-top: 180px;

	@media (max-width: $tablet) {
		padding-top: 100px;
	}

	@media (max-width: $mobile-l) {
		padding-top: 80px;
	}
}

.applic__container {

}

.applic__wrapper {

}

.applic__title {
	font-family: $ff-second;
	font-weight: 500;
	opacity: .7;
}

.applic__text {
	max-width: 700px;
}

.applic__body {

}

.applic__form {
	display: flex;
	justify-content: center;
	gap: 24px;

	@media (max-width: $tablet) {
		flex-direction: column;
	}

	@media (max-width: $mobile-l) {
		gap: 16px;
	}
}

.applic__tf {
	--height: 100%;
	max-width: 600px;

	@media (max-width: $tablet) {
		--height: 64px;
		--padding-side: 24px;

		max-width: none;
	}

	@media (max-width: $mobile-l) {
		--height: 50px;
	}
}

.applic__send .btn {

	@media (max-width: $tablet) {
		height: 64px;
		width: 100%;
	}

	@media (max-width: $mobile-l) {
		height: 50px;
	}
}

.applic__img {
	width: 100%;
	display: flex;
	justify-content: center;
	pointer-events: none;
	user-select: none;

	& img {
		width: 140%;
		height: auto;
		margin-top: -10%;
		margin-bottom: -24%;
	}
}