.learn {
	padding: 130px 0 100px;

	@media (max-width: $tablet) {
		padding: 80px 0;
	}

	@media (max-width: $mobile-l) {
		padding: 50px 0;
	}
}

.learn__container {

}

.learn__wrapper {

}

.learn__title {
	font-family: $ff-main;
	letter-spacing: .1em;
}

.learn__text {
	max-width: 560px;
}

.learn__body {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 30px;
	justify-items: center;

	@media (max-width: 1000px) {
		grid-template-columns: 1fr 1fr;

		& .c-learn {

			&:last-child {
				grid-column: 1 / 3;
			}
		}
	}

	@media (max-width: 650px) {
		grid-template-columns: 1fr;

		& .c-learn {

			&:last-child {
				grid-column: auto;
			}
		}
	}
}

// Card
.c-learn {
	max-width: 400px;
	position: relative;
	z-index: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	background-color: $frame-dark;
	color: $light;
	padding: 74px 38px 0;
	overflow: hidden;

	&::before {
		content: '';
		position: absolute;
		z-index: -1;
		bottom: 0;
		left: 50%;
		transform: translate(-50%, 50%);
		width: 250%;
		aspect-ratio: 1 / 1;
		// background: linear-gradient(180deg, rgba(13, 15, 17, 0) 0%, rgba(255, 203, 73, 0.8) 99.13%);
		// background: radial-gradient(50% 50% at 50% 50%, rgba(222, 2, 4, 0.8) 23.61%, rgba(13, 15, 17, 0) 100%);
	}

	&:nth-child(1) {

		&::before {
			background: radial-gradient(50% 50% at 50% 50%, rgba(255, 203, 73, 0.8) 23.61%, rgba(13, 15, 17, 0) 100%);
		}
	}

	&:nth-child(2) {

		&::before {
			background: radial-gradient(50% 50% at 50% 50%, rgba(222, 2, 4, 0.8) 23.61%, rgba(13, 15, 17, 0) 100%);
		}
	}

	&:nth-child(3) {

		&::before {
			background: radial-gradient(50% 50% at 50% 50%, rgba(117, 117, 117, 0.8) 23.61%, rgba(13, 15, 17, 0) 100%);
		}
	}

	@media (max-width: $mobile-l) {
		padding: 48px 24px 0;
	}
}

.c-learn__lvl {
	font-size: 68px;
	font-weight: 700;

	@media (max-width: $mobile-l) {
		font-size: 50px;
	}
}

.c-learn__text {
	font-size: 14px;
	line-height: 2;
	margin-top: 56px;

	@media (max-width: $mobile-l) {
		margin-top: 30px;
	}
}

.c-learn__btn {
	max-width: 260px;
	width: 100%;
	height: 70px;
	font-size: 12px;
	font-weight: 700;
	letter-spacing: .2em;
	margin-top: 38px;
}

.c-learn__img {
	margin-top: 50px;
	margin-bottom: -80px;
}