.main-inner {
	position: relative;
	z-index: 2;
	// --cover-height: 100%;
	// --cover-pos-y: 100px;
	// position: relative;
	// z-index: 1;
	// background: $frame-dark;

	// &::before {
	// 	content: '';
	// 	position: absolute;
	// 	z-index: -1;
	// 	top: var(--cover-pos-y);
	// 	left: 0;
	// 	width: 100%;
	// 	height: var(--cover-height);
	// 	background: rgba(0,0,0,.2);
	// 	transition: .3s;
	// 	// transition-delay: .5s;
	// }
}

.main {
	position: relative;
	z-index: 2;
	min-height: 100vh;
	color: $light;
	background: $main-gradient;

	display: flex;
	flex-direction: column;
	height: 100%;
	// height: 100vh;

	@media (max-width: 700px) {
		min-height: 120vh;
	}
}

.main__container {
	margin-top: 120px;

	display: flex;
	flex: 1 0 auto;
}

.main__wrapper {
	display: flex;
	flex-direction: column;
	padding-bottom: 48px;

	@media (max-width: $tablet) {
		padding-bottom: 24px;
	}

	@media (max-width: 700px) {
		padding-bottom: 20vh;
	}
}

.main__content {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	margin-bottom: auto;
}

.main__title {
	font-family: $ff-second;
	font-size: 54px;
	letter-spacing: .55em;
	opacity: .72;
	color: #9b9aa0;

	@media (max-width: $container-width) {
		font-size: 42px;
	}

	@media (max-width: 900px) {
		letter-spacing: .3em;
		font-size: 36px;
	}

	@media (max-width: $mobile-m) {
		// letter-spacing: .2em;
		font-size: 32px;
	}
}

.main__text {
	max-width: 700px;
	opacity: .21;
	margin-top: 80px;

	@media (max-width: $laptop) {
		margin-top: 64px;
	}

	@media (max-width: 900px) {
		margin-top: 54px;
	}

	@media (max-width: 500px) {
		margin-top: 40px;
	}
}

.main__img {
	width: 100%;
	display: flex;
	justify-content: center;
	margin-top: 112px;
	// margin-top: 300px;

	& picture {
		display: flex;
		justify-content: center;
	}

	& img {
		width: 103.5%;

		@media (max-width: $container-width) {
			width: 100%;
		}

		@media (max-width: 500px) {
			width: 115%;
		}
	}

	@media (max-width: 900px) {
		margin-top: 90px;
	}

	@media (max-width: $hide-menu) {
		margin-top: 0;
	}
}

// Tools from below
.main__tools {
	position: absolute;
	bottom: 120px;
	left: 50%;
	transform: translateX(-50%);
	max-width: 1600px;
	width: 100%;
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
	padding: 0 24px;

	@media (max-width: 1400px) {
		bottom: 70px;
	}

	@media (max-width: 1000px) {
		bottom: 24px
	}

	@media (max-width: $hide-menu) {
		position: initial;
		transform: none;
		justify-content: center;
		align-items: center;
		margin: 48px 0;
	}

	@media (max-width: 500px) {
		margin: 32px 0;
	}
}

.scroll-down.is-main {

	.scroll-down__text {

		@media (max-width: $hide-menu) {
			writing-mode: initial;
			transform: none;
		}
	}
}

.main__socials {

	@media (max-width: $hide-menu) {
		display: none;
	}
}
