* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import "./colors.scss";

body {
    color: $light;
    // background: #212121;
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

@custom-media --viewport-medium (width <= 50rem);
@custom-selector :--heading h1, h2, h3, h4, h5, h6;

:root {
    --mainColor: #12345678;
}

body {
    color: var(--mainColor);
    font-family: system-ui;
    overflow-wrap: break-word;
}

:--heading {
    color: white;
    // background-image: image-set(url(img/heading.png) 1x, url(img/heading@2x.png) 2x);

    @media (--viewport-medium) {
        margin-block: 0;
    }
}

a {
    color: rgb(0 0 100% / 90%);

    &:hover {
        color: rebeccapurple;
    }
}

body {
	min-height: 100vh;
	// background-image: url(../logo.jpeg);
}

h1 {
	color: orange;
	font-size: 24px;
	font-weight: 600;
}